/*
Style Name: CSS
Description: Class File
Author: Evan Hansen 
Version: 1.0
Tags: Learning CSS

This is a big ol mess
*/

/* -------------
  Fonts
-------------- */

@font-face {
  font-family: Transformers;
  src: url(../assets/Transformers.ttf);
}

.reg-text{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.sub-header{
  font-family: Lexend;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.image-header  {
  font-family: Lexend;
  font-size: 62px;
  font-weight: 800;
}

.image-subheader {
  font-family: Lexend;
  font-size: 30px;
  font-weight: 200;
}

.lexend-medium{
  font-family: Lexend;
  font-weight: 500;
}

/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
  margin: 0;
  padding: 0;
  color: #fff;

}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles  
    - Hero Image
      - Left Hero
      - Right Hero   
      - Welcome
      - Intro                   
   02. CSS Grid  
   03. Site Header
      - Nav Styling
      - Subheader
      - Site Footer
   04. Hero               
/* _____________________________________

   01. General Styles
   _____________________________________ */

  .hidden {
      display: none;
  }

  .box-model {
    margin: .5rem;
    padding: .5rem;
    background: rgb(32, 31, 31);
    font-family: "Lexend", sans-serif, px;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    font-size: 16px;  
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  .middle {
    justify-content: center;
  }

  .margin-2 {
    margin: 2em auto;
    max-width: fit-content;
  }

  .hero-margin {
    margin: auto auto 10em auto;
    max-width: fit-content;
  }

  .image-block {
    display: grid;
    grid-column: span 1;
    max-width: fit-content;
  }

  .image-block img{
    display: block;
    margin: 0 auto;
  }

  .common-box {
    margin: 2em;
    padding: 2em;
  }



/* -------------- Hero Image things -------------- */

.round-pics{
  border-radius: 12px;
}

.image {
  max-width: 100%;
  height: auto;
}

.hero-container-split {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: repeat(2, 1fr);
  /* max-height: 704px; */
  overflow: hidden;
}

.hero-container {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(1, 1fr);
  /* max-height: 704px; */
  overflow: hidden;
}

.span-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hero-text {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: start;
  font-family: Lexend;
  margin-block-end: auto;
  text-align: left;
  margin-left: 5em;
}

.hero-text h4 {
  padding: .2em 3em .2em .1em;
  margin-bottom: 0em;
  border-radius: 5px 5px 0px 0px;
  font-size: 5em;
  font-weight: 800;
  background-color: #220E33;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.hero-text h5 {
  padding: .2em .5em .2em .5em;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 3em;
  font-size: 2em;
  font-weight: 200;
  background-color: #1C0C26;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* -------------- Left Hero -------------- */
.hero-assigner {
  grid-column: 1;
  display: grid;
}

.left-image {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.hero-text-left {
  grid-column: 2 / span 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: start;
  font-family: Lexend;
  margin-block-end: auto;
  text-align: left;
  margin-left: 16.5em;
}

.hero-text-left h4 {
  padding: .2em 3em .2em .1em;
  margin-bottom: 0em;
  border-radius: 5px 5px 0px 0px;
  font-size: 3em;
  font-weight: 800;
  background-color: #220E33;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.hero-text-left h5 {
  padding: .2em .5em .2em .5em;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 3em;
  font-size: 1.5em;
  font-weight: 200;
  background-color: #1C0C26;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* -------------- Right Hero -------------- */
.right-hero {
  grid-column: 2;
  display: grid;
}

.right-image {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.hero-text-right {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: start;
  font-family: Lexend;
  margin-block-end: auto;
  margin-left: 2em;
  text-align: right;
}

.hero-text-right h4 {
  padding: .2em .1em .2em 4em;
  margin-bottom: 0em;
  border-radius: 5px 5px 0px 0px;
  font-size: 3em;
  font-weight: 800;
  background-color: #220E33;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.hero-text-right h5 {
  padding: .2em .5em .2em .5em;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 3em;
  font-size: 1.5em;
  font-weight: 200;
  background-color: #1C0C26;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* -------------- Welcome -------------- */
.welcome {
  display: grid;
  background-color: #F9E26E;
  color: #1C0D24;
  justify-self: center;
  margin: 3em auto;
  max-width: 800px;
  text-align: center;
  border-radius: 20px;
}

.welcome-long {
  display: grid;
  background-color: #F9E26E;
  color: #1C0D24;
  justify-self: center;
  margin: 3em auto;
  max-width: 1600px;
  text-align: center;
  border-radius: 10px;
}

.welcome h3 {
  font-family: Lexend;
  font-size: 3em;
  font-weight: 600;
  margin-top: .5em;
  margin-bottom: .5em;
}

.welcome h4 {
  font-family: Lexend;
  font-size: 2em;
  font-weight: 600;
  margin-top: .5em;
  margin-bottom: .5em;
}

.welcome h5 {
  font-family: Lexend;
  font-size: 1em;
  font-weight: 400;
  margin-top: .5em;
  margin-bottom: .5em;
}

.welcome-long h4 {
  font-family: Lexend;
  font-size: 2.5em;
  font-weight: 600;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* -------------- Intro -------------- */

.intro {
  display: grid;
  background-color: #442A83;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 0em 1em 0em;
}

.intro-text {
  display: grid;
  grid-column: 1;
  font-family: Lexend;
  font-weight: 200;
  font-size: 2em;
  border-right: .1em solid black;
  text-align: right;
  padding: 0em 1em 0em 0em;
}

.list-reviews {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  max-width: 500px;
  float: left;
  margin: auto 1em auto .5em;
}

.service-list {
  display: grid;
  margin-bottom: auto;
  border-bottom: .2em solid black;
  margin-top: 2em;
}

.service-list li {
  padding-bottom: .7em;
}

.left-list {
  grid-column: 1;
}

.right-list {
  grid-column: 2;
}

.yellow-stars {
  color: #F9E26E !important;
  font-size: 3em;
  text-align: center;
  margin-top: .5em;
}

.yellow-stars p {
  font-family: Lexend;
  font-size: .5em;
  text-align: left;
  margin-left: 2em;
  color: white;
}


/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {

    .site{
      max-width: none;
      background-image: url(/images/ECS_wallpaper_short.jpg);
      background-size: 50%;
      background-repeat: repeat;
   }

    /* -------------- Grid Items -------------- */

    .head, .main > *, .foot {
       display: grid;
       grid-template-columns: 1fr repeat(2,minmax(auto, 30em)) 1fr;
    }

    .left {
       justify-self: left;
    }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }

    .two-items {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: repeat(2, 1fr);
       justify-content: space-evenly;
       row-gap: 2em;
       column-gap: 2em;
    }

    .two-items-vert {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
   }

    .three-items {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-content: space-evenly;
       row-gap: 2em;
       column-gap: 2em;
    }

    .four-items {
      display: grid;
      /* grid-column: 2 / span 2; */
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
   }

    /* _____________________________________

   03. Site Header
   _____________________________________ */

   header {
    position: sticky;
    top: 0em;
    background-color: #220F2F;
    border-bottom: 1px solid #220F2F;
    box-shadow: 0px 5px 8px #010101;
    }

    .logo {
      grid-column: 1 / span 1;
    }

    .logo img {
      display: inline;
      margin-top: 1.5em;
      margin-bottom: 1em;
      margin-right: 1em;
      margin-left: 1em;
      max-width: 20%;
      height: auto; 
      float: right;
    }

    .logo h3 {
      display: inline;
      margin-top: 1em;
      margin-bottom: 1em;
      font-family: "Transformers";
      font-size: 8em;
      align-self: auto;
      margin-left: 1em;
    }

    .name {
      grid-column: 2 / span 2;
      font-size: 32px;
      text-align: center;
      color: rgb(230, 164, 78);

   }

   .name box-model {
      margin: 0rem;
      padding: 0rem;
   }

    /*------------ Start Nav Styling ------------*/

    .nav {
        grid-column: 2 / span 3;
        padding-top: 1.5em;
        margin: 0;
        background-color: #220F2F;
        font-family: Lexend;
        font-weight: 500;
        font-size: 2.5em;
     }

     nav ul {
      margin-top: 0em;
      margin-left: 1em;
      margin-bottom: 1em;
      padding: 0;
      text-decoration: none;
      text-align: end;
     }

     nav li {
        display: inline;
        margin-right: 4em;
     } 

     nav li a {
        text-decoration: none;
        color: #FDFFFC;
        font-size: inherit;
     }

     nav li a.active {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: #180A21; 
     }

     nav li h3:hover {
        background-color: #626262;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
     }

     /*------------- Subheader ------------*/
     .nav-sub {
      grid-column: 1 / span 4;
      padding-top: 1em;
      margin: 0;
      background-color: #211926;
      font-family: Lexend;
      font-weight: 200;
      font-size: 2em;
     }

     .nav-sub ul {
      float: left;
      margin-top: 0em;
      margin-left: 1em;
      margin-bottom: 1em;
      padding: 0;
      text-decoration: none;
      text-align: justify;
   }

    .search {
      grid-column: 4 / span 1;
      border-radius: 10px;
      float: left;
      background: #e8e6f0;
      width: 12em;
      vertical-align: middle;
    }

    .search-icon {
      background-color: #fff;
    }

    input[type=text].icon {
      width: 15%;
      padding: 12px 25px;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c6/Search_font_awesome.svg");
      background-size: 10%;
      background-position: 10px 8px;
      background-repeat: no-repeat;
      padding-left: 48px;
    }

    input[type=text].email {
      width: 70%;
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 24px;
      background-color: white;
      padding-left: 42px;
    }

    input[type=text].pc-form {
      padding: 6px 10px;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 1em;
      background-color: white;
      padding-left: 2em;
      margin: 1em 0em;
    }

    .button {
      background-color: #F9E26E;
      padding: .5em 1.5em;
      border-style: none;
      border-radius: 10px;
      color: #170A1E;
      text-align: center;
      font-family: Lexend;
      font-size: 24px;
      font-weight: 400;
      margin: auto .5em;
    }

    .button:active {
      background-color: #948955;
    }

    /* -------------- Footer -------------- */

    .footer {
      background-color: #180A21;
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .right-foot {
      grid-column: 2 / span 1;
      float: right;
    }

    .left-foot{
      grid-column: 1 / span 1;
      float: left;
    }

    .footer-box {
      margin-top: .5em;
      margin: auto;
      background-color: #220F2F;
      border-radius: 25px;
      padding: .5em;
      justify-self: center;
      
    }

    .follow {
      row-gap: 0em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-left: .5em;
      margin-right: .5em;
    }

    .socials {
      margin-bottom: 2em;
    }

  /* _____________________________________

   04. Hero
   _____________________________________ */

    /* -------------- Start Hero -------------- */

    .hero {
       display: grid;
       grid-template-columns: 1fr 0.5fr 1fr;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(3, 1fr);
    }

    .hero-img img {
       width: 2em;
       background-color: blue;
    }

    .hero-img {
       display: grid;
       grid-column: span 4;
       margin-bottom: 1rem;
       justify-self: center;
    }

    .hero-img h2{
       align-self: flex-end;
       justify-self: end;
       margin-left: 9em;
    }

    .hero-img h2.right {
       align-self: flex-end;
       justify-self: end;
       margin-right: 9em;
    }

    .hero-img h2.left {
       align-self: flex-end;
       justify-self: start;
       margin-left: 9em;
    }

    .img {
       width: 25%;
       justify-self: center;
       grid-column: 2 / span 2;
    }

    /* -------------- End Hero -------------- */

    /* _____________________________________

   04. Parts
   _____________________________________ */

    .pb-text {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 2.1em;
    }

    .pb-text-smol {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.9em;
    }

    .pb-border {
      margin: auto 2em;
    }

    .image-justify {
      justify-self: left;
      margin: 4em;
    }

    .image-right {
      display: grid;
      grid-column: 4;
    }

    .image-size {
      max-width: 70%;
      height: auto;
    }

     /* -------------- Right Part Box -------------- */
    .right-part-box {
      display: grid;
      grid-column: 2 / span 3;
      grid-template-columns: repeat(2, 1fr);
      margin: 2em;
      padding: 2em;
      background-color: #402d7f;
      justify-self: auto;
    }

    .right-text-rpb {
      grid-column: 2;
      margin: 0 .5em;
    }

    .right-text-rpb li {
      padding-bottom: .7em;
      color: #f6e27f;
      text-decoration: underline;
    }

    .right-text-rpb a {
      color: #f6e27f;
    }

    .left-text-rpb {
      grid-column: 1;
      border-right: .2em solid black;
      padding-right: 1em;
    }

     /* -------------- Left Part Box -------------- */

     .left-part-box {
      display: grid;
      grid-column: 1 / span 3;
      grid-template-columns: repeat(2, 1fr);
      grid-row: 1;
      margin: 2em;
      padding: 2em;
      background-color: #402d7f;
      justify-self: auto;
    }

    .left-text-lpb {
      grid-column: 1;
      grid-row: 1;
      margin: 0 .5em;
    }

    .left-text-lpb li {
      padding-bottom: .7em;
      color: #f6e27f;
      text-decoration: underline;
    }

    .left-text-lpb a {
      color: #f6e27f;
    }

    .right-text-lpb {
      grid-column: 2;
      border-left: .2em solid black;
      padding-left: 1em;
    }

    /* -------------- PC Complete -------------- */

    .pc-header {
      display: grid;
      grid-column: 1 / span 2;
      border-bottom: .2em solid black;
      margin: .2em 2em auto;
      max-height: 150px;
    }

    .pc-left {
      display: grid;
      grid-column: 1;
      grid-row: 2;
      border-right: .2em solid black;
      padding: 1em;
    }

    .pc-left li {
      padding-bottom: .7em;
    }

    .pc-right {
      display: grid;
      grid-column: 2;
      grid-row: 2;
      margin: 1em 5em 0em .5em;
    }

    .pc-right h3 {
      font-family: Lexend;
      font-weight: 500;
      font-size: 4em;
      text-align: center;
      margin: auto;
    }

    .pc-right p {
      text-align: center;
      font-size: 2em;
    }

    .span-three {
      grid-column: 2 / span 3;
    }

  }